/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {
    font: 100% normal Verdana, Georgia, serif;
}

.page {
    margin: 0 auto;
    margin-top: 5px;
    width: 85%;
}

.container {
    margin: 0 auto;
    width: 100%;
    background-color: #f6f6ef;

}


/* Navigation Bar styling */

.nava {
    font-weight: bold;
}

nav { 
    margin: 0 auto;
    width: 100%;
    background: #ff6600;
}


nav ul li {
    display: inline;
    padding: 1px;
}

.nav-item {
    font: 100% normal Verdana;
}

nav li a{
    text-decoration: none;
    color: black;
    margin: auto;
    display: inline;
    padding: 2px;
}

nav ul {
    padding: 3px;
}

nav img { 
    max-width: 100%; 
    border: solid 1px white;
    float: left;
    margin-right: 1px;
}

/* End NavBar */


/* Content */

.links {
    margin-top: 8px;
    margin-left: 3px;
}

.title { 
font-family:Verdana; 
font-size: 10pt; 
color:#828282; 
}

.title a {
    font-family: Verdana;
    text-decoration: none;
    color: #000000;
}

.sublink {
    font-family: Verdana;
    font-size: 8pt;
    color: #828282;
}

.subtext {

font-family: Verdana;
font-size: 7pt;
color: #828282;
}

/* submit form */

form {
    margin-left: 2%;
}

form fieldset {
	margin: 0  0 10px 0;
	padding: 0 0 10px 0;
	font-size: 14px;
	}

form fieldset.form-actions {
	margin: 0 0 0 4%;
	padding: 0;
	border: none;
	}

form fieldset label {
	float: left;
	width: 4%;
	margin: 4px 0 5px 0;
	font-weight: Normal;
	}

textarea, form fieldset input.form-text {
	display: block;
	width: 40%;
	padding: 5px;
	font-size: 10pt;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}


.nava .active {
    color: black;
}


.nav-item a.active {

    color: white;
}

