{% extends "show_links.html" %}
{% block stories %}
<form method="post" action="/submit">
  <fieldset>
    {% for x in form %}
    <fieldset>
    {% if x.id != "csrf_token" %}
      {{ x.label }}
    {% endif %}
    {{ x(class="form-text") }}
    {% if x.errors %}
    <ul class="errors" style="margin-top: 20px"> {% for error in x.errors %}<li style="color:red"> {{error }}</li>{% endfor %}</ul>
    {% endif %}
  </fieldset>
    {% endfor %}
	<fieldset class="form-actions">
		<input type="submit" value="Submit" />
	</fieldset>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashe style="margin-top: 20px;">
      {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
</form>
{% endblock %}
